In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df_All=pd.read_csv('Players_All_Years.csv')
df_All.head()

,Player,Span,MatDescending,Runs,HS,Bat Av,100,Wkts,BBI,Bowl Av,5,Ct,St,Ave Diff,Education,City
0,DPMD Jayawardene,19972015,647,25688,374,38.98,53.0,14.0,Feb-32,61.57,0.0,434,0,22.59,Nalanda College,Colombo
1,KC Sangakkara,20002015,587,27757,319,46.80,63.0,0.0,NaN,NaN,0.0,603,136,NaN,"Trinity College, Kandy",Kandy
2,ST Jayasuriya,19892011,582,20966,340,34.25,42.0,437.0,Jun-29,35.60,6.0,205,0,1.34,St.Servatius College,Matara
3,TM Dilshan,19992016,497,17671,193,38.16,39.0,154.0,04-Apr,44.16,0.0,242,3,6.00,Kalutara Vidyalaya,Kaluthara
4,M Muralidaran,19922011,487,1934,67,9.38,0.0,1331.0,Sep-51,22.82,77.0,199,0,13.44,St. Anthony's College,Kandy

In [3]:
df_All["Bat Av"].describe()

count    227.00000
mean      16.90837
std       11.61088
min        0.00000
25%        8.00000
50%       14.50000
75%       23.38000
max       68.00000
Name: Bat Av, dtype: float64

In [4]:
df_Last10=pd.read_csv('Players_Last10Years.csv')
df_Last10.head()

,Player,Span,Mat,Runs,HS,Bat Av,100,Wkts,BBI,Bowl Av,5,Ct,St,Ave Diff
0,BKG Mendis,20152023,236,8767,245,32.35,12.0,NaN,01-Oct,146.00,0.0,185,8,113.64
1,AD Mathews,20132023,229,10043,200*,43.85,17.0,95.0,Apr-44,35.13,0.0,94,0,8.71
2,LD Chandimal,20132023,209,7883,206*,35.66,14.0,NaN,NaN,NaN,NaN,146,19,NaN
3,MDKJ Perera,20132023,181,5738,153*,30.35,8.0,NaN,NaN,NaN,NaN,74,17,NaN
4,DM de Silva,20152023,180,5897,173,31.03,10.0,91.0,Mar-25,45.80,0.0,122,0,14.76

In [5]:
df_Last10["Bat Av"].describe()

count    103.000000
mean      17.538252
std       11.726907
min        0.000000
25%        7.905000
50%       16.500000
75%       23.785000
max       54.570000
Name: Bat Av, dtype: float64

In [6]:
# Order by Decending and get top 50 elements
Runs_All = df_All['Bat Av'].nlargest(n=100)
Runs_Last10=df_Last10['Bat Av'].nlargest(n=100)

In [7]:
print(Runs_All)

201    68.00
171    49.00
167    48.12
1      46.80
36     44.22
       ...
71     17.60
68     17.54
136    17.50
95     17.44
119    16.85
Name: Bat Av, Length: 100, dtype: float64

In [8]:
print(Runs_Last10)

21    54.57
77    48.12
1     43.85
9     40.03
82    39.50
      ...
62     2.50
85     2.00
59     1.66
83     1.50
97     1.00
Name: Bat Av, Length: 100, dtype: float64

In [9]:
# Perform the t-test
t_statistic, p_value = stats.ttest_ind(Runs_All, Runs_Last10)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 6.47843248246615
P-value: 7.18226931796518e-10